{{ episode.player }}
[podlove-template template="CC-slim-downloads"]
<p><i>If you like our <a href="http://www.konscience.de/archiv/recorded-talks/">other lecture recordings</a> or have questions, please don't hesitate to write <a href="{{  episode.url }}#respond">a comment</a>, <a href="http://www.konscience.de/impressum/kontakt/">e-mail</a> or contact us via <a href="https://twitter.com/KonSciencePod">Twitter</a>.</i></p>
[podlove-episode-contributor-list flattr="yes"]
<h1>Notes and References</h1>
