{% if episode.relatedEpisodes %} 
<h1>Andere relevante Episoden / Related episodes</h1>
[podlove-related-episodes]
{% endif %}

<!---
Use Podlove's `Insert at bottom` option to ensure placement behind show notes.
--->
